@import 'junk';
@import 'vars';

%placeholder-junk {
  color: $junk-color;
  font-family: serif;
}

%placeholder-keep {
  color: $keep-color;
  font-family: serif;
}

.junk {
  @extend %placeholder-junk;
  color: $junk-color;
}

.keep {
  @extend %placeholder-keep;
  color: $junk-color;
}

.nested {
  .junk {
    @extend %placeholder-junk;
    color: $junk-color;
  }

  .keep {
    @extend %placeholder-keep;
    color: $junk-color;
  }
}