@import 'junk';
@import 'vars';

.remove {
  color: $junk-color;
  font-family: serif;
}

.keep {
  color: $keep-color;
  font-family: serif;
}

.nested {
  color: $junk-color;
  font-family: serif;

  .remove {
    color: $junk-color;
    font-family: serif;
  }

  .keep {
    color: $keep-color;
    font-family: serif;
  }
}

.keep {
  // @sass-thematic-keep
}