@import 'junk';
@import 'vars';

@for $i from 1 through 5 {
  .remove-#{$i} {
    color: $junk-color;
  }
}

@for $i from 1 through 5 {
  .keep-#{$i} {
    color: $keep-color;
  }
}

@each $c in $junk-color {
  .remove {
    color: $c;
  }
}

@each $c in $keep-color {
  .keep {
    color: $c;
  }
}

@media (min-width: $junk-size) {
  .remove {
    color: $junk-size;
  }
}

@media (min-width: $keep-size) {
  .keep {
    color: $keep-color;
  }
}