@import 'junk';
@import 'vars';

.extend-junk {
  color: $junk-color;
  font-family: serif;
}

.extend-keep {
  color: $keep-color;
  font-family: serif;
}

.junk {
  @extend .extend-junk;
  color: $junk-color;
}

.keep {
  @extend .extend-junk;
  color: $keep-color;
}

.keep {
  @extend .extend-keep;
  color: $junk-color;
}

.chain-junk {
  @extend .junk;
}

.chain-keep {
  @extend .keep;
}

.nested {
  .junk {
    @extend .extend-junk;
    color: $junk-color;
  }

  .keep {
    @extend .extend-keep;
    color: $junk-color;
  }
}