@import 'junk';
@import 'vars';

@mixin mixin-junk() {
  color: $junk-color;
  font-family: serif;
}

@mixin mixin-keep() {
  color: $keep-color;
  font-family: serif;
}

.nested {
  .junk {
    @include mixin-junk;
    color: $junk-color;
  }

  .keep {
    @include mixin-junk;
    color: $keep-color;
  }

  .keep {
    @include mixin-keep;
    color: $junk-color;
  }
}